@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    /* padding and margin comes inside the width */
}

html,body{
    /* width and height becomes 100% of its parent */
    width:100%;
    height:100%;
    font-family:'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    
:root{
    /* text colors */
    
    --text-primary-color:rgb(255, 236, 236);

    /* bg colors */
    --bg-fill-color:rgb(196, 97, 97);
    --bg-primary-color:rgb(40, 39, 39);
    --bg-food-color:rgb(240, 240, 202);

    /* space variables */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;
    
    /* border */
    --border-primary-color:#575050;
    --border-sec-color: rgb(194, 194, 213);

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;
    --border-radius-3xl:28px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main,section{
    /* width and height becomes 100% of its parent here:body */
    width:100%;
    height:100%;
}

section{
    padding: var(--space-2xl);
    display:flex;
    flex-direction: column;
    height:100%;
    gap:var(--space-lg);
}

section .infos {
    width: 100%;
    display:flex;
    justify-content:space-between;
}

.info{
    padding:var(--space-sm) var(--space-md);
    border:4px solid var(--border-primary-color);
    border-radius: var(--border-radius-2xl);
}

.board{
    border:2px solid var(--border-primary-color);
    /* take the remaining space left by parent */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block{
    /* width:30px;
    height:30px; */
    border:1px solid var(--border-primary-color);
    border-radius: var(--border-radius-xl) ;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    /* background-color: #575050; */
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.btn {
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-2xl);
    cursor:pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.modal .game-over{
    display: none;
}